name: Heroku Release
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: akhileshns/heroku-deploy@v3.12.12
      with:
        heroku_email: ${{ secrets.HEROKU_EMAIL }}
        heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
        heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
        justlogin: true
    - run: |
        heroku container:login && \
        ./docker-build.sh && \
        APP_NAME=${{ secrets.HEROKU_APP_NAME}} ./heroku-release.sh

